body {
  background-color: antiquewhite;
}

.leaderboard {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.leaderboar-container {
  width: 60%;
  margin: 0 auto;
}

.leaderboard-items {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 10px;
  min-height: 80vh;
}

.leaderboard-form {
  padding: 5px;
  height: 22vh;
  margin-top: 55px;
}

.score-list-fieldset {
  margin-top: 22px;
  height: 55vh;
}

fieldset {
  padding: 22px;
  border-radius: 5px;
}

legend {
  font-size: 22px;
  font-weight: bold;
}

.leaderboard-list {
  padding: 10px;
}

.scores-list {
  border-radius: 5px;
}

.input-field {
  padding: 5px;
  margin: 5px;
}

.recent-score {
  display: inline;
  margin: 5px;
}

.button {
  padding: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 5px;
}


@media (max-width: 768px) {
  .leaderboard-items {
    grid-template-columns: auto;
  }

  .leaderboard-form {
    order: 1;
    margin: 22px 5px;
  }

  .leaderboard-list {
    order: 2;
    margin: 22px 5px;
  }

  .leaderboar-container {
    width: 90%;
    margin: 0 auto;
  }
}
